.list1 {
  text-decoration: none;
  list-style: none;
}

.ulist1 {
  text-decoration: none;
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 15px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar h4 {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding-right: 15px;
  margin-top: 10px;
}

.main {
  background-color: white;
  padding: 20px;
  margin: 20px 50px 20px 50px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  height: 650px;
}

.main p {
  margin-bottom: 25px;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 17px;
}

.head {
  margin: 8px;
  padding: 5px;
  font-style: italic;
}

.content {
}
